* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    display: flex;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

#container #left {
    flex: 30%;
    background: url(bg-main-desktop.png) no-repeat;
    background-size: cover;
}

#container #left div {
    height: 200px;
    width: 350px;
}

#container #left #front {
    background: url(bg-card-front.png) no-repeat;
    background-size: contain;
    position: relative;
    top: 150px;
    left: 145px;
    color: #ffffff;
}

#container #left #front img {
    padding: 20px 0 40px 20px;
}

#container #left #front h2 {
    text-align: center;
    font-size: 25px;
    padding: 0 0 20px 0;
    word-spacing: 3px;
    letter-spacing: 2px;
    font-weight: lighter;
}

#container #left #front #butt {
    padding-left: 25px;
    font-weight: lighter;
    word-spacing: 3px;
    letter-spacing: 2px;
}

#container #left #front #year {
    padding: 0 0 0 95px;
}

#container #left #back {
    background: url(bg-card-back.png) no-repeat;
    background-size: contain;
    position: relative;
    top: 170px;
    left: 210px;
    color: #ffffff;
}

#container #left #back #cvc {
    position: relative;
    top: 84px;
    left: 270px;
    font-size: 18px;
    font-weight: lighter;
    letter-spacing: 1px;
}

#container #right {
    flex: 70%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container #right #box {
    height: 300px;
    width: 350px;
}

#container #right #box label {
    font-size: 18px;
    color: #21092f;
}

#container #right #box .diff {
    font-size: 14px;
}

#container #right #box .same {
    outline: none;
    padding: 9px 160px 9px 5px;
    font-size: 12px;
    text-align: left;
    border: 1px solid #dedddf;
    border-radius: 5px;
    margin: 5px 0 25px 0;
}

input[type="number"]::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#sep {
    width: 100%;
    display: flex;
}

#sep #one {
    flex: 50%;
}

#sep #one input {
    width: 60px;
    outline: none;
    padding: 7px 50px 7px 5px;
    border: 1px solid #dedddf;
    border-radius: 5px;
    margin: 5px 5px 30px 0;
}

#sep #two {
    flex: 50%;
}

#sep #two input {
    width: 80%;
    outline: none;
    padding: 7px 20px 7px 5px;
    font-size: 12px;
    border: 1px solid #dedddf;
    border-radius: 5px;
    margin: 5px 0 30px 0;
}

#container #right #box .short {
    padding-right: 12px;
}

input[type="submit"] {
    background-color: #21092f;
    color: #ffffff;
    padding: 9px 128px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}


/* responsiveness */


/* laptop */

@media screen and (max-width: 1200px) {
    #container #left #front {
        left: 90px;
    }
    #container #left #back {
        left: 120px;
    }
}


/* tablet */

@media screen and (min-width: 851px) and (max-width: 1000px) {
    #container #left #front {
        left: 40px;
    }
    #container #left #back {
        left: 80px;
    }
}

@media screen and (min-width: 650px) and (max-width: 850px) {
    #container #left #front {
        left: 150px !important;
    }
    #container #left #back {
        left: 200px !important;
    }
}


/* mobile */

@media screen and (max-width: 850px) {
    body {
        overflow-x: hidden;
    }
    #container {
        flex-direction: column;
    }
    #container #left {
        height: 40%;
    }
    #container #left div {
        height: 200px;
        width: 300px;
    }
    #container #left #front {
        top: 155px;
        left: 32px;
        z-index: 1;
    }
    #container #left #front h2 {
        font-size: 22px;
        padding: 0 0 25px 0;
    }
    #container #left #front img {
        height: 70px;
        padding-left: 27px;
    }
    #container #left #front #butt {
        font-size: 12px;
        padding-left: 30px;
    }
    #container #left #front #year {
        padding: 0 0 0 63px;
    }
    #container #left #front img {
        padding-bottom: 20px;
    }
    #container #left #back {
        top: -137px;
        left: 95px;
    }
    #container #left #back #cvc {
        top: 72px;
        left: 232px;
        font-size: 15px;
    }
    #right #box {
        margin-top: 70px;
        height: 330px !important;
        width: 100vw !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #container #right #box .same {
        padding: 13px 250px 13px 7px;
    }
    #sep #one input {
        width: 80px;
        padding: 10px 50px 10px 5px;
    }
    #sep #two input {
        width: 200px;
        padding: 10px 50px 10px 5px;
    }
    input[type="submit"] {
        width: 100%;
        padding: 12px 0;
    }
}
